@import url("https://cdnjs.cloudflare.com/ajax/libs/compass/1.0.3/frameworks/css3.css");

body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

/* Styling for form container */
.form {
  margin-top:50rem;
  box-shadow:2px 2px 5px yellow;
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  max-width: 450px;
  margin: 13vh auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  align-items: center;
}
.barsa{
  color:var(--sun2);
}

/* Buttons */
.button {
  box-shadow: 0 4px 10px 4px #ececec;
  border: 0;
  outline: none;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* Login and Sign-Up Button Themes */
#login_tab {
  background-color: var(--sun2);
}
.barsa_logo{
  height:200px;
  width:200px;
  border-radius:100%;
  box-shadow:var(--shadow5);
}

#signup_tab {
  background-color: var(--sun3);
}

#login_tab:hover {
  background-color: var(--sun4);
}

#signup_tab:hover {
  background-color: var(--sun5);
}

.tab-content {
  margin-top: 20px;
}

.field-wrap {
  margin-bottom: 20px;
}

label {
  color: #000;
  margin-bottom: 5px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ff8800;
  border-radius: 5px;
  font-size: 1rem;
} 
.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity));
}
/* Css for barsa container */
.barsa_container .barsa{
  margin-top:10px;
  font-size:70px;
}

.barsa_container{
  margin-top:10vh;
}
.barsa_container .barsa_slogan{ 
  color: var(--sky1);
  margin-left:115px;
}
.row{
  margin-top:1vh;
}