.individual_attandance {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.individual_attandance .attandance_status {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.attandance_tab .attandance_mode {
  user-select: none;
  cursor: pointer;
}

.oval-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  box-sizing: border-box;
}

input[type=number],
input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #cccccc;
  box-sizing: border-box;
}

input[type=number],
input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #cccccc;
  box-sizing: border-box;
}

input[type=checkbox],
input[type=checkbox] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #cccccc;
  box-sizing: border-box
}


/* This code is for calendar */
.calendar_container {
  width: 350px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.calendar_container .year_and_month #year {
  font-size: 15px;
  margin-bottom: 0px;
  text-align: center;
}

.calendar_container .year_and_month #calendar_title {
  margin-top: 0px;
}

.calendar_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--sun1);
  color: white;
  padding: 10px 15px;
}

.calendar_header button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.calendar {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  box-shadow:var(--shadow1);
}

.calendar .holiday {
  color: red;
  font-weight: bold;
}

.calendar th,
.calendar td {
  padding: 10px;
  border: 1px solid #ddd;
  width: 14.2%;
}

.calendar td {
  height: 30px;
  cursor: pointer;
}

.calendar td:hover {
  background-color: #f1f1f1;
}

.calendar .empty {
  background: #f9f9f9;
  cursor: default;
}
.attended {
  position:relative;
}
.attended::before {
  content: "✓";
  position: absolute;
  top:0px;
  left:0px;
  color: green;
}